:host {
  display: block;
  height: 100%;
}

main {
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  overflow: hidden;
}

@media screen and (max-width: 980px) {
  main > aside, main > section {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  main > aside {
    z-index: 1;
    box-shadow: 0px 0px 4px 4px #0000000f;
  }

  main > section {
    z-index: 2;
    transition: transform .7s;
    transition-timing-function: ease-in-out;
  }

  .show-details-mobile {
    transform: translateX(0px);
  }

  .hide-details-mobile {
    transform: translateX(980px);
  }
}

@media screen and (min-width: 980px) {
  main aside {
    border-right: var(--sapList_BorderWidth,.0625rem) solid var(--sapList_BorderColor,#e4e4e4);
    overflow-y: hidden;
  }

  .hidden-element-on-desktop {
    display: none !important;
  }
}

main aside {
  grid-column: 1;
  background-color: var(--sapList_Background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main aside app-device-list {
  flex-grow: 1;
  overflow: auto;
}

main section {
  grid-column: 2;
  height: 100%;
}
