/* You can add global styles to this file, and also import other style files */
@import "~fundamental-styles";
@import "assets/themes/light-dark/css_variables.css";
@import "assets/themes/quartz-dark/css_variables.css";
@import "assets/themes/hight-contrast/css_variables.css";
@import "assets/fonts.css";

* {
  min-height: 0;
  min-width: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.h-spacer {
  height: 1px;
  display: block;
}

@media screen and (min-width: 980px) {
  .hidden-element-on-desktop {
    display: none !important;
  }
}

/*Scrollbar*/
::-webkit-scrollbar-track
{
  background-color: var(--sapBackgroundColor);
}

::-webkit-scrollbar
{
  width: 4px;
  height: 4px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  background-color: rgba(179, 179, 179, 0.6);
}
